<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stations</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>BLFK</string>
			<key>Name</key>
			<string>Bell&apos;s Fork</string>
			<key>Number</key>
			<string>16</string>
			<key>Latitude</key>
			<string>35.56196633030</string>
			<key>Longitude</key>
			<string>-77.35097901850</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>WELL</string>
			<key>Name</key>
			<string>Wellcome</string>
			<key>Number</key>
			<string>14</string>
			<key>Latitude</key>
			<string>35.65605039950</string>
			<key>Longitude</key>
			<string>-77.35185517770</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>NSDE</string>
			<key>Name</key>
			<string>Northside</string>
			<key>Number</key>
			<string>1</string>
			<key>Latitude</key>
			<string>35.65094046550</string>
			<key>Longitude</key>
			<string>-77.36159760550</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>PPNT</string>
			<key>Name</key>
			<string>P&amp;G</string>
			<key>Number</key>
			<string>17</string>
			<key>Latitude</key>
			<string>35.64442198350</string>
			<key>Longitude</key>
			<string>-77.35834713610</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>G231</string>
			<key>Name</key>
			<string></string>
			<key>Number</key>
			<string>9</string>
			<key>Latitude</key>
			<string>35.62601702890</string>
			<key>Longitude</key>
			<string>-77.36536771710</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>EBYP</string>
			<key>Name</key>
			<string>Eastern Bypass</string>
			<key>Number</key>
			<string>4</string>
			<key>Latitude</key>
			<string>35.62343536790</string>
			<key>Longitude</key>
			<string>-77.33417348710</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>WSDE</string>
			<key>Name</key>
			<string>Westside</string>
			<key>Number</key>
			<string>7</string>
			<key>Latitude</key>
			<string>35.61720509860</string>
			<key>Longitude</key>
			<string>-77.42183082120
	

</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>PPNT</string>
			<key>Name</key>
			<string>Power Plant</string>
			<key>Number</key>
			<string>6</string>
			<key>Latitude</key>
			<string>35.61540494890</string>
			<key>Longitude</key>
			<string>-77.37875181890</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>G232</string>
			<key>Name</key>
			<string></string>
			<key>Number</key>
			<string></string>
			<key>Latitude</key>
			<string>35.61426278690</string>
			<key>Longitude</key>
			<string>-77.43271921270</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>EVAN</string>
			<key>Name</key>
			<string>Evans Street</string>
			<key>Number</key>
			<string>15</string>
			<key>Latitude</key>
			<string>35.60000058770</string>
			<key>Longitude</key>
			<string>-77.37422631760</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>ECU</string>
			<key>Name</key>
			<string>ECU</string>
			<key>Number</key>
			<string>5</string>
			<key>Latitude</key>
			<string>35.59919217280</string>
			<key>Longitude</key>
			<string>-77.36911301360</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>ESDE</string>
			<key>Name</key>
			<string>Eastside</string>
			<key>Number</key>
			<string>3</string>
			<key>Latitude</key>
			<string>35.59032175770</string>
			<key>Longitude</key>
			<string>-77.34777097290</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>SIMP</string>
			<key>Name</key>
			<string>Simpson</string>
			<key>Number</key>
			<string>10</string>
			<key>Latitude</key>
			<string>35.57829517910</string>
			<key>Longitude</key>
			<string>-77.30290385430</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>SSDE</string>
			<key>Name</key>
			<string>Southside</string>
			<key>Number</key>
			<string>2</string>
			<key>Latitude</key>
			<string>35.57511463770</string>
			<key>Longitude</key>
			<string>-77.38629336440</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>FRGL</string>
			<key>Name</key>
			<string>Frog Level</string>
			<key>Number</key>
			<string>13</string>
			<key>Latitude</key>
			<string>35.56940688990</string>
			<key>Longitude</key>
			<string>-77.44510984430</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>WINT</string>
			<key>Name</key>
			<string>Winterville</string>
			<key>Number</key>
			<string>8</string>
			<key>Latitude</key>
			<string>35.55177789670</string>
			<key>Longitude</key>
			<string>-77.39354635660</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>HLWD</string>
			<key>Name</key>
			<string>Hollywood</string>
			<key>Number</key>
			<string>11</string>
			<key>Latitude</key>
			<string>35.53073328930</string>
			<key>Longitude</key>
			<string>-77.31942842590</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>STTN</string>
			<key>Name</key>
			<string>Stokestown</string>
			<key>Number</key>
			<string>12</string>
			<key>Latitude</key>
			<string>35.43050536790</string>
			<key>Longitude</key>
			<string>-77.29602538410</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>MGDN</string>
			<key>Name</key>
			<string>MacGregor Downs</string>
			<key>Number</key>
			<string>18</string>
			<key>Latitude</key>
			<string>35.61279188330</string>
			<key>Longitude</key>
			<string>-77.43169768450
	

</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>DAVE</string>
			<key>Name</key>
			<string>Dickinson Avenue</string>
			<key>Number</key>
			<string>20</string>
			<key>Latitude</key>
			<string>35.60005105610</string>
			<key>Longitude</key>
			<string>-77.39819257170</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>MTPL</string>
			<key>Name</key>
			<string>Mt. Pleasant</string>
			<key>Number</key>
			<string>19</string>
			<key>Latitude</key>
			<string>35.66446483900</string>
			<key>Longitude</key>
			<string>-77.40625225820
	

</string>
		</dict>
	</array>
</dict>
</plist>
